@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #333; 
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    #login-container {
        background-color: #1e1e1e; 
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
        width: 300px;
        color: #fff;
    }
    
    #login-container img {
        max-width: 20%; 
        height: auto;
        margin: 0 auto 10px; 
        display: block; 
        border-radius: 8px; 
        background-color: #1e1e1e; 
        padding: 10px; 
        opacity: 0.7; 
    }
    

    #login-container input {
        width: 100%;
        padding: 12px; 
        margin-bottom: 15px; 
        border: 1px solid #333;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #555; 
        color: #fff;
    }

    #login-container button {
        width: 100%;
        padding: 12px; 
        margin-bottom: 10px; 
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    #login-container button:hover {
        background-color: #45a049;
    }

    #login-container a {
        color: #3498db;
        text-decoration: none;
        float: right;
        margin-top: 5px; 
    }

    #login-container a:hover {
        text-decoration: underline;
    }

    body {
        font-family: 'Roboto Condensed', sans-serif;
        margin: 0;
        padding: 0;
    }
    
    #companyName {
        font-family: 'Times New Roman, serif';
        text-align: center;
        font-size: 36px;
        color: #4caf50;
        margin-top: 8px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        transition: color 0.3s ease-in-out;
        margin-left: 10%;
    }
    
    #companyName:hover {
        color: #a1b4a2;
    }
    
    #companyName span {
        font-family: 'Times New Roman, serif';
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        color: #4caf50;
    }
    
    
    #login-container img {
        max-width: 20%;
        height: auto;
        margin: 0 auto 10px;
        display: block;
        border-radius: 8px;
        background-color: #1e1e1e;
        padding: 10px;
    }
    .green-text {
        color: green;
    }

    .white-text {
        color: white;
        font-family: 'Times New Roman, serif';

    }
    
    
    

